{% extends "blogs/base.html" %}

{% block page_header %}
	<h1>Channels</h1>
	<h3>If you get an error screen when you attempt to open a channel, it's because it's locked. Same for when you try to edit a post from a channel that you do not own.</h3>
{% endblock page_header %}

{% block content %}
	<ul>
		{% for blog in blogs %}
			{% if blog.public is False %}
				<li><h3>
					<a href="{% url 'blogs:blog' blog.id %}">{{blog}} [[LOCKED]]</a>
				</h3></li>
			{% else %}
				<li><h3>
					<a href="{% url 'blogs:blog' blog.id %}">{{blog}} [[PUBLIC]]</a>
				</h3></li>
			{% endif %}
		{% empty %}
			<li><h3>No channels have been added yet.</h3></li>
		{% endfor %}
	</ul>

	<h3><a href="{% url 'blogs:new_blog' %}">Add a new channel</a></h3>
{% endblock content %}